* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 85vw;

    animation-name: blur;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}
@keyframes blur {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div.h1 {
    width: 100%;
    height: 70px;
    background-color: #1a1c1e;
    display: flex;
    flex-direction: row;
}

div.option {
    align-self: center;
    margin-left: 25px;

}

button.option {
    background-color: transparent;
    color: white;
    padding: 50% 60%;
    cursor: pointer;
    font-size: 17px;
    border: none;
}

button.option:hover {
    color: aqua;
}

div.logo {
    margin-left: 34px;
    align-self: center;
    font-family: monospace;
    font-size: 20px;
}

span#s1 {
    color: #f9f9f9;
    text-shadow: 0px 0px 10px #f9f9f9;
}

span#s2 {
    color: #f7a501;
    text-shadow: 0px 0px 10px #f7a501;
}

div.search {
    margin-left: 34px;
    align-self: center;
    color: white;
    display: flex;
    flex-direction: row;
}

button.search {
    border-bottom: 2px solid blueviolet;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    color: white;
    width: 33px;
    height: 34.58px;
    font-size: 17px;
    cursor: pointer;
}

input.search {
    background-color: transparent;
    border-bottom: 2px solid blueviolet;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    color: white;
    height: 33px;
    width: 17vw;
    margin-left: 0px;
    padding-left: 9px;
    font-size: 17px;
}

input.search::placeholder {
    padding-left: 5px;
}

div.login {
    align-self: center;
    margin-left: 32.5vw;

}

button.icon {
    height: 33px;
    width: 100px;
    background-color: blueviolet;
    color: black;
    font-size: 17px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0px 0px 10px black;
}

button.icon:hover {
    background-color: black;
    color: #f9f9f9;
    box-shadow: 0px 0px 10px blueviolet;
}

#user_logo {
    margin-right: 8px;
}

div.notification {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-left: 19px;
}

button.notification {
    height: 33px;
    width: 33px;
    margin-right: 2px;
    background-color: transparent;
    color: aqua;
    font-size: 13px;
    border-radius: 25px;
    background-color: black;
    border: 3px solid aqua;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button.notification:hover {
    box-shadow: 0px 0px 10px aqua;
    transform: translateY(-3px);
}

button.heart:hover {
    box-shadow: 0px 0px 10px hotpink;
}

button.share:hover {
    box-shadow: 0px 0px 10px greenyellow;
}

button.heart {
    color: hotpink;
    border-color: hotpink;
}

button.share {
    color: greenyellow;
    border-color: yellowgreen;
}

/* vertical header */
div.container {
    display: flex;
    flex-direction: row;
}

div.h2 {
    background-color: #1a1c1e;
    width: 30%;
    height: 76vh;
    display: flex;
    flex-direction: column;
}

div.profil_login {
    margin: 10px 0px 0px 40px;
    display: flex;
    flex-direction: row;
}

img#login_profil {
    width: 40px;
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: 0px 0px 10px aqua;
}

p.name {
    align-self: center;
    font-size: 17px;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-right: 115px;
}

i.arr {
    color: #f9f9f9;
    font-size: 21px;
    align-self: center;
}

i.arr:hover {
    cursor: pointer;
    color: #f7a501;
    text-shadow: 0px 0px 10px #f7a501;
}

ul.ul1 {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 20px 0px;
    border-bottom: 0.1px solid #f7a501;
}

i.ip {
    padding-left: 30px;
    color: white;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

i.ip:hover {
    background-color: black;
    color: aqua;
    text-shadow: 0px 0px 10px aqua;
}

span.spntext {
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
}

ul.ul2 {
    display: flex;
    flex-direction: row;
    margin: 3vh 0px 0px 0px;
}

li.ids3 {
    list-style: none;
    margin-left: 43px;
    color: white;
    font-family: 'Raleway', sans-serif;
    border-bottom: 2.5px solid blueviolet;
    padding-bottom: 3px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

li.ids3:hover {
    transform: translateY(-5px);
    text-shadow: 0px 0px 10px #f7a501;
    color: #f7a501;
}

div.main {
    background-image: url(/nasa-Q1p7bh3SHj8-unsplash.jpg);
    width: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}

h1.title {
    color: white;
    margin: 50px 0px 0px 70px;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    font-weight: lighter;
    text-shadow: 0px 0px 20px white;
}

h3.description {
    color: aqua;
    text-shadow: 0px 0px 10px aqua;
    margin: 10px 0px 0px 70px;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-weight: lighter;
}

div.btns {
    margin: 20px 20px 0px 70px;
    display: flex;
    flex-direction: row;
}
.btn1{
    height: 36px;
    width: 100px;
}
button.play {
    background-color: #f7a501;
    color: #1a1c1e;
    height: 36px;
    width: 100px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #f7a501;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    animation-name: animate;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
button.play:hover{
    box-shadow: 0px 0px 30px #f7a501;
    transform: translateY(-5px);
}
@keyframes animate {
    0% {
        width: 0px;
    }
    to {
        width: 100px;
    }
}
button.more_info {
    background-color: transparent;
    color: #f9f9f9;
    border: 1px solid #f9f9f9;
    height: 36px;
    width: 100px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
button.more_info:hover{
    transform: translateY(-5px);
}
i.arr2{
    margin-left: 10px;
    font-size: 17px;
}